@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
--layer-top: 2147483647;
--layer-1: 2147483646;
--layer-2: 2147483645;
--layer-3: 2147483644;
}

:root.light {
--md-sys-color-background: 251 248 254;
--md-sys-color-on-background: 27 27 31;
--md-sys-color-surface: 251 248 254;
--md-sys-color-surface-dim: 219 217 223;
--md-sys-color-surface-bright: 251 248 254;
--md-sys-color-surface-container-lowest: 255 255 255;
--md-sys-color-surface-container-low: 245 242 248;
--md-sys-color-surface-container: 239 237 243;
--md-sys-color-surface-container-high: 234 231 237;
--md-sys-color-surface-container-highest: 228 225 231;
--md-sys-color-on-surface: 27 27 31;
--md-sys-color-surface-variant: 226 225 237;
--md-sys-color-on-surface-variant: 69 70 80;
--md-sys-color-inverse-surface: 48 48 52;
--md-sys-color-inverse-on-surface: 242 240 246;
--md-sys-color-outline: 118 118 129;
--md-sys-color-outline-variant: 198 197 209;
--md-sys-color-shadow: 0 0 0;
--md-sys-color-scrim: 0 0 0;
--md-sys-color-surface-tint: 78 90 151;
--md-sys-color-primary: 60 72 131;
--md-sys-color-on-primary: 255 255 255;
--md-sys-color-primary-container: 96 108 170;
--md-sys-color-on-primary-container: 255 255 255;
--md-sys-color-inverse-primary: 185 195 255;
--md-sys-color-secondary: 89 93 119;
--md-sys-color-on-secondary: 255 255 255;
--md-sys-color-secondary-container: 223 226 255;
--md-sys-color-on-secondary-container: 67 71 96;
--md-sys-color-tertiary: 109 57 105;
--md-sys-color-on-tertiary: 255 255 255;
--md-sys-color-tertiary-container: 150 93 143;
--md-sys-color-on-tertiary-container: 255 255 255;
--md-sys-color-error: 186 26 26;
--md-sys-color-on-error: 255 255 255;
--md-sys-color-error-container: 255 218 214;
--md-sys-color-on-error-container: 65 0 2;
}

:root.dark {
--md-sys-color-background: 19 19 23;
--md-sys-color-on-background: 228 225 231;
--md-sys-color-surface: 19 19 23;
--md-sys-color-surface-dim: 19 19 23;
--md-sys-color-surface-bright: 57 57 61;
--md-sys-color-surface-container-lowest: 13 14 18;
--md-sys-color-surface-container-low: 27 27 31;
--md-sys-color-surface-container: 31 31 35;
--md-sys-color-surface-container-high: 41 42 46;
--md-sys-color-surface-container-highest: 52 52 57;
--md-sys-color-on-surface: 228 225 231;
--md-sys-color-surface-variant: 69 70 80;
--md-sys-color-on-surface-variant: 198 197 209;
--md-sys-color-inverse-surface: 228 225 231;
--md-sys-color-inverse-on-surface: 48 48 52;
--md-sys-color-outline: 144 144 155;
--md-sys-color-outline-variant: 69 70 80;
--md-sys-color-shadow: 0 0 0;
--md-sys-color-scrim: 0 0 0;
--md-sys-color-surface-tint: 185 195 255;
--md-sys-color-primary: 185 195 255;
--md-sys-color-on-primary: 31 43 102;
--md-sys-color-primary-container: 71 83 143;
--md-sys-color-on-primary-container: 255 252 255;
--md-sys-color-inverse-primary: 78 90 151;
--md-sys-color-secondary: 193 197 227;
--md-sys-color-on-secondary: 43 47 70;
--md-sys-color-secondary-container: 56 60 84;
--md-sys-color-on-secondary-container: 204 207 237;
--md-sys-color-tertiary: 244 177 233;
--md-sys-color-on-tertiary: 78 29 75;
--md-sys-color-tertiary-container: 123 69 117;
--md-sys-color-on-tertiary-container: 255 254 255;
--md-sys-color-error: 255 180 171;
--md-sys-color-on-error: 105 0 5;
--md-sys-color-error-container: 147 0 10;
--md-sys-color-on-error-container: 255 218 214;
}