<!doctype html>
<html lang="{{lang}}">

<head>
  {% include "head.html" %}
</head>

<body class="min-h-screen flex flex-col bg-surface">
  <script>
    if (localStorage.theme == 'dark') {
      document.documentElement.className = 'dark'
      document.documentElement.style = 'color-scheme: dark;'
    } else if (localStorage.theme == 'light') {
      document.documentElement.className = 'light'
      document.documentElement.style = 'color-scheme: light;'
    } else {
      // follow system
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.className = 'dark'
        document.documentElement.style = 'color-scheme: dark;'
      } else {
        document.documentElement.className = 'light'
        document.documentElement.style = 'color-scheme: light;'
      }
    }
  </script>

  {% include "header.html" %}

  <main
    class="prose prose-h1:text-on-surface prose-a:no-underline prose-a:text-primary prose-strong:text-tertiary dark:prose-invert text-on-surface container mx-auto max-w-screen-xl px-4 py-8 sm:py-12 lg:py-16 space-y-4">
    {% block content %}
    {% endblock content %}
  </main>

  {% block pagination %}
  {% endblock %}

  {% include "footer.html" %}
  {% include "script.html" %}
</body>

</html>