<script src="//unpkg.com/alpinejs" defer></script>
<script defer src="/js/main.js"></script>
{% if config.extra.enable_search %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
<script src="/search_index.{{lang}}.js"></script>
<script defer src="/js/search.js"></script>
{% endif %}
{% if config.extra.enable_multilingue %}
<script defer src="/js/lang.js"></script>
{% endif %}
{% if config.extra.enable_adsense %}
<script async src="{{ config.extra.adsense_link | safe }}" crossorigin="anonymous"></script>
{% endif %}
{% block extra_js %}
{% endblock extra_js %}